<nav>
  <div class="navbar">
  <a href="{{ "/" | relative_url }}">Home</a>
  <div class="dropdown">
    <a href="#">Events&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></a>
    <div class="dropdown-content">
      <span class="dropdown-separator">Upcoming</span>
      <a href="{{ "/mit" | relative_url }}">MIT<span class="date">Feb 18</span></a>
      <a href="{{ "/northeastern" | relative_url }}">Northeastern<span class="date">Mar 24</span></a>
      <a href="{{ "/unh" | relative_url }}">UNH<span class="date">Feb 17</span></a>
      <span class="dropdown-separator">Past</span>
      <a href="{{ "/harvard" | relative_url }}">Harvard<span class="date">Feb 1</span></a>
    </div>
  </div>
  <a href="{{ "/news" | relative_url }}">News</a>
  <a href="{{ "/meetings" | relative_url }}">Meetings</a>
  </div>
</nav>
