html, body, main { background: #333; margin: 0; padding: 0; height: 100%; }
body * { box-sizing: border-box; }

/* typography */
body { font-family: 'Roboto', sans-serif; font-size: 16px; line-height: 1.6; color: #93a1a1; padding-top: 3.5em; }
a, a:visited { color: #2aa5d4; text-decoration: none; }
a:hover { text-decoration: underline; }
div.section .inner { width: 100%; max-width: 50em; margin: 0 auto; padding: 2em 4%; }
h1, h2, h3, h4, h5 { margin: 0.2em 0 0.2em 0; }
div.section h2 { font-weight: 100; font-size: 300%;  }
div.section h3 { font-size: 150%;  }
@media only screen and (max-width: 500px) {
  div.section h2 { font-size: 250%; }
  div.section h2 i.fa { display: none; }
}
div.section h2 small { font-weight: normal; font-size: 33%;  }
p { margin: 0 0 0.5em; }
p.lead { font-size: 120%; }

/* navbar */
nav { position:fixed; top:0; left:0; width: 100%; height: 3.5em; background: #333; z-index: 1638400; }
div.navbar { width: 100%; max-width: 50em; margin: 0 auto; padding: 0 4%; }
nav a { display: inline-block; padding: 0 1em; line-height: 3.5em; cursor:pointer; }
nav div.dropdown { position: relative; display: inline-block; }
nav div.dropdown-content { display: none; position: absolute; left: 0; background-color: #222; z-index: 1; min-width: 20em; }
nav div.dropdown-content a { text-decoration: none; display: block; }
nav span.dropdown-separator { display: inline-block; color: #999; padding: 0 1em; line-height: 3.5em; }
nav span.date { float: right; color: #666; font-size: 85%; }
nav a:hover { color: #fff; text-decoration: none; background: #444; }
nav div.dropdown:hover div.dropdown-content { display: block; }
nav div.dropdown:hover { background:#222; }
nav div.dropdown:hover a { background: transparent; }
@media only screen and (max-width: 500px) {
  nav div.dropdown-content { position:fixed; top: 3.5em; width: 100%; }
  nav i.fa { display: none; }
}

/* fluid 16:9 iframes */
div.fullheight { min-height: 100%; }
div.dark { background: #111525; color: #93a1a1; }
div.light { background: #eee8d5; color: #586e75; }

img.logo { width: 100%; display: block; margin: 0 auto 1.5em; }

/* fluid 16:9 iframes */
div.embed { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 1em; }
div.embed iframe { border: 0; position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

/* sponsors */
div.sponsors { margin: 1em 0; text-align: center; }
div.sponsors a { display:inline-block; width: 48%; vertical-align:middle; margin:auto; padding: 1em; }
div.sponsors a.wide { width: 75%; }
div.sponsors a.extra-wide { width: 100%; }
div.sponsors img { width: 100%; }


/* buttons */
.btn { opacity: 0.85; display: inline-block; padding: 0.5em 1em; border-radius: 0.1em; text-decoration: none !important; text-shadow: 0 0 1px rgba(0,0,0,0.3); cursor: pointer; box-shadow: 0 0.1em 1em -0.5em rgba(0,0,0,0.5); border: 1px solid rgba(255,255,255,0.2); margin: 0.25em 0.5em 0.25em 0; transition: all .2s ease-in-out; }
.btn { min-width: 40%; text-align: center; }
.btn:hover { opacity: 1;  transform: scale(1.05); }
.btn i.fa { margin-right: 0.25em; float: left; margin-top: 0.25em; }
.btn-default { background: #ffffff; color: #111 !important}
.btn-success { background: #4cae4c; color: #fff !important}
.btn-primary { background: #2e6da4; color: #fff !important}
.btn-warning { background: #eea236; color: #fff !important}
.btn-lg { min-width:50%;}

/* news */
ul.post-list { list-style-type: none; padding: 0; }
ul.post-list li.post:nth-child(odd) { background: #171c32; }
ul.post-list li.post:nth-child(even) { background: #1d2440; }
li.post { padding: 5em; }
li.post h3 { font-size: 160%; }
@media only screen and (max-width: 500px) {
  li.post { padding: 0.8em; }
}

/* photos */
img.photo { width: 100%; display: block; margin: 0em; }

