<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<main>

<nav>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/harvard" | relative_url }}">@ Harvard<span class="date">Feb 1</span></a></li>
    <li><a href="{{ "/mit" | relative_url }}">@ MIT<span class="date">Feb 18</span></a></li>
    <li><a href="{{ "/northeastern" | relative_url }}">@ Northeastern<span class="date">March</span></a></li>
  </ul>
</nav>

{{ content }}

</main>
</body>
</html>
