<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<main>

<nav>
  <ul>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>
    <li><a href="{{ "/harvard" | relative_url }}">@ Harvard</a><span class="date">Feb 1, 2017</span></li>
    <li><a href="{{ "/mit" | relative_url }}">@ MIT</a><span class="date">Feb 18, 2017</span></li>
    <li><a href="{{ "/northeastern" | relative_url }}">@ Northeastern</a><span class="date">March, 2017</span></li>
  </ul>
</nav>

{{ content }}

</main>
</body>
</html>
